@model Mohiuddin_EcommerceWebsite.Models.ProductCategory

@{
    ViewBag.Title = "Delete Product Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Are you sure you want to delete category: <span class="text-danger"> @Model.CategoryName ?</span></h4>
            </div>
            <div class="card-body">
                <h4>Category Image</h4>
                <img src="@Url.Content(Model.CategoryImage)" alt="Category Image" style="max-width: 100px;" />
            </div>
            <div class="card-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        @Html.ActionLink("Back to List", "Index", null, new {@class="btn btn-info"})
                        <input type="submit" value="Delete" class="btn btn-danger" /> 
                    </div>
                }
            </div>
        </div>
    </div>
</div>

