@model List<Mohiuddin_EcommerceWebsite.Models.ViewModels.CustomerViewModel>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card border-0 shadow-lg">
            <div class="card-header">
                <h2>All Customers</h2>
            </div>
            <div class="card-body">
                
                <table class="table table-bordered table-striped customersTbl">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(customer.PicturePath))
                                    {
                                        <img src="@Url.Content(customer.PicturePath)" alt="Profile Picture" class="img-thumbnail" style="max-width: 100px;" />
                                    }
                                    else
                                    {
                                        <img src="~/Images/Users/mohiuddin_1280860.jpg" id="imageFile" class="img-thumbnail" style="max-width:100px;" />
                                    }
                                </td>
                                <td>@customer.Email</td>
                                <td>@customer.PhoneNumber</td>
                                <td>
                                    @Html.ActionLink("Details", "CustomerProfile", new { customerId = customer.UserId }, new { @class = "btn btn-info btn-sm" })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
